/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Синий цвет #2196F3 */
/* Белый цвет #FFFFFF */
/* Цвет ссылок футера rgba(255, 255, 255, 0.6) */
/* Вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --primary-section-text-color: #ffffff;
  --primary-section-background-color: #2f303a;
  --footer-section-background-color: #2f303a;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --header-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --communication-footer-color: rgb(255, 255, 255, 0.6);
}

body {
  /* Подгружаем шрифты */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  /* Основной цвет текста #757575 */
  color: var(--primary-text-color);

  /* Основной цвет фона #e5e5e5 */
  background-color: var(--primary-background-color);
}
/* Убираем маркеры из списков */
ul {
  list-style: none;
}
/* Шапка сайта */
.page-header {
  background-color: var(--header-background-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Логотип в шапке */

.logo-header {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-header-color); /* Черный цвет логотипа #000000 */
  text-decoration: none;
}
.logo-header > span {
  color: var(--accent-color);
}

/* Навигация */

.site-nav .link {
  color: var(--title-text-color); /* Вторичный цвет текста #212121 */
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color); /* Синий цвет #2196F3 */
}
/* Активная страница */
.site-nav .link.current {
  color: var(--accent-color);
}
/* Коммуникация (шапка) */
.communication-header .link {
  text-decoration: none;
  color: currentColor;
}
.communication-header .link:hover,
.communication-header .link:focus {
  color: var(--accent-color); /* Синий цвет #2196F3 */
}

/* Основная секця */
.primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-section-text-color);
  background-color: var(--primary-section-background-color);
}
/* Свойство Кнопки (button)смотри в разделе "Кнопкм" */

/* Общее для секций */
.section-title {
  color: var(--title-text-color); /* Вторичный цвет текста #212121 */
}
.section-list {
  color: var(--title-text-color); /* Вторичный цвет текста #212121 */
}
/* Особенности */
.feature .section-list {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature p {
  font-size: 14px;
  line-height: 1.71;
}
/* Чем мы занимаемся */
.business h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Наша команда */
.command {
  background-color: var(--second-background-color);
}
.command h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.command h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Секция Портфолио */
/* Фильтр проектов */
.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
/* Список проектов */
.project h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project p {
  font-size: 16px;
  line-height: 1.87;
}

/* Кнопки */
.button {
  font-family: inherit;
  cursor: pointer;
}
.primary > .button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: currentColor;
  background-color: var(--accent-color);
}
.primary > .button:hover,
.primary > .button:focus {
  color: var(--title-text-color);
  background-color: var(--second-background-color);
}
.filters .button {
  color: var(title-text-color);
  background-color: var(second-background-colorolor);
}
.filters .button:hover,
.filters .button:focus {
  color: var(--primary-section-text-color);
  background-color: var(--accent-color);
}
/* Подвал сайта */
footer {
  color: var(--logo-footer-color);
  background-color: var(--footer-section-background-color);
}

/* Логотип в подвале */
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-footer-color);
}
.logo-footer > span {
  color: var(--accent-color);
}
.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}
/* Коммуникация (подвал) */
.communication-footer .link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--communication-footer-color);
  text-decoration: none;
}
.communication-footer .link:hover,
.communication-footer .link:focus {
  color: var(--accent-color); /* Синий цвет #2196F3 */
}
